[submodule "third-party/sublabel_relax"]
	path = third-party/sublabel_relax
	url = https://github.com/tum-vision/sublabel_relax
[submodule "third-party/prost"]
	path = third-party/prost
	url = https://github.com/tum-vision/prost
[submodule "third-party/YALMIP"]
	path = third-party/YALMIP
	url = https://github.com/yalmip/YALMIP.git
[submodule "third-party/multilabel_submodular"]
	path = third-party/multilabel_submodular
	url = https://github.com/shaibagon/multilabel_submodular.git
